include ./_electricity-consumption-or-cost-field
include ./_electricity-meter-field
include ./_electricity-category-field
include ./_show-details-checkbox

form(name='electricityForm')
  +electricityConsumptionOrCostField('electricityForm', 'vm.consumptionOrCost', 'vm.measureMenu', '1')
  +electricityConsumptionOrCostField('electricityForm', 'vm.consumptionOrCost2', 'vm.measureMenu2', '2')
  +electricityMeterField('electricityForm', 'vm.meter')
  +electricityCategoryField('vm.category', 'vm.categoryOptions')
  +showDetailsCheckbox('vm.showDetails')
article(ng-show='electricityForm.$valid')
  div.table-responsive
      table.table.table-hover.table-condensed.table-bordered
        thead
          tr
            th.text-center.danger
              span
                span %
                span(ng-bind='vm.getCostDifferencePercentage(vm.measureMenu.getSelected(), vm.measureMenu2.getSelected(), vm.category, vm.meter, vm.consumptionOrCost, vm.consumptionOrCost2) | number:0')
                span &nbsp;
              span فرق التكلفة
            th.text-center.success(ng-show='vm.showDetails') التكلفة2
            th.text-center.success(ng-show='vm.showDetails')  التكلفة1
            th.text-center.danger
              span
                span %
                span(ng-bind='vm.getConsumptionDifferencePercentage(vm.measureMenu.getSelected(), vm.measureMenu2.getSelected(), vm.category, vm.meter, vm.consumptionOrCost, vm.consumptionOrCost2) | number:0')
                span &nbsp;
              span فرق الشرائح
            th.text-center.active(ng-show='vm.showDetails')  الشرائح2
            th.text-center.active(ng-show='vm.showDetails')  1الشرائح
            th.text-center.active المدة
        tbody
          tr(ng-repeat='pair in vm.periodTable', ng-init='period = pair[0]; factor = pair[1]')
            td.text-center.danger(dir='rtl', style='border-right: 0; border-left: 0')
              b(ng-bind='vm.calculatePriceDifference(vm.measureMenu.getSelected(), vm.measureMenu2.getSelected(), vm.category, vm.meter, vm.consumptionOrCost, vm.consumptionOrCost2) * factor | number:0')
              span.hidden-xs &nbsp;
              span.hidden-xs(style='font-size: 0.6em') ريال
            td.text-center.success(dir='rtl' ng-show='vm.showDetails')
              span(ng-bind="vm.calculatePrice(vm.measureMenu2.getSelected(), vm.category, vm.meter, vm.consumptionOrCost2) * factor | number:0")
              span.hidden-xs &nbsp;
              span.hidden-xs(style='font-size: 0.6em') ريال
            td.text-center.success(dir='rtl' ng-show='vm.showDetails')
              span(ng-bind="vm.calculatePrice(vm.measureMenu.getSelected(), vm.category, vm.meter, vm.consumptionOrCost) * factor | number:0")
              span.hidden-xs &nbsp;
              span.hidden-xs(style='font-size: 0.6em') ريال
            td.text-center.danger(dir='rtl', style='border-right: 0; border-left: 0')
              b(ng-bind='vm.calculateConsumptionDifference(vm.measureMenu.getSelected(), vm.measureMenu2.getSelected(), vm.category, vm.meter, vm.consumptionOrCost, vm.consumptionOrCost2) * factor | number:0')
              span.hidden-xs &nbsp;
              span.hidden-xs(style='font-size: 0.6em') ك.و.س
            td.text-center.active(dir='rtl' ng-show='vm.showDetails')
              span(ng-bind="vm.calculateConsumption(vm.measureMenu2.getSelected(), vm.category, vm.meter, vm.consumptionOrCost2) * factor | number:0")
              span.hidden-xs &nbsp;
              span.hidden-xs(style='font-size: 0.6em') ك.و.س
            td.text-center.active(dir='rtl' ng-show='vm.showDetails')
              span(ng-bind="vm.calculateConsumption(vm.measureMenu.getSelected(), vm.category, vm.meter, vm.consumptionOrCost) * factor | number:0")
              span.hidden-xs &nbsp;
              span.hidden-xs(style='font-size: 0.6em') ك.و.س
            th.text-center.active(ng-bind='period', dir='rtl', style='border-right: 0; border-left: 0')
