<section class="container">
  <form name="volumeForm">
    <div class="form-group">
      <div class="input-group" ng-class="{'has-error': volumeForm.volume.$invalid}">
        <div class="input-group-addon">لتر</div>
        <input type="number" min="1" max="1000000000" step="1" name="volume" required
               class="form-control" dir="rtl" ng-model="vm.volume" ng-init="vm.volume = 1">
        <div class="input-group-addon">كمية الاستهلاك في اليوم</div>
      </div>
    </div>
  </form>
  <article ng-show="volumeForm.$valid">
    <div class="table-responsive">
      <table class="table table-hover table-condensed table-bordered">
        <thead>
          <tr>
            <th class="text-center danger">الفرق</th>
            <th class="text-center warning">التكلفة سابقاً</th>
            <th class="text-center success">التكلفة حالياً</th>
            <th class="text-center active">المدة</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center danger"
                ng-bind="(vm.calculateByVolume('new', vm.volume) - vm.calculateByVolume('old', vm.volume)) | number:2">
            </td>
            <td class="text-center warning" ng-bind="vm.calculateByVolume('old', vm.volume) | number:2"></td>
            <td class="text-center success" ng-bind="vm.calculateByVolume('new', vm.volume) | number:2"></td>
            <td class="text-center active">يوم</td>
          </tr>
          <tr>
            <td class="text-center danger"
                ng-bind="(vm.calculateByVolume('new', vm.volume) - vm.calculateByVolume('old', vm.volume)) * 7 | number:2">
            </td>
            <td class="text-center warning" ng-bind="vm.calculateByVolume('old', vm.volume) * 7 | number:2"></td>
            <td class="text-center success" ng-bind="vm.calculateByVolume('new', vm.volume) * 7 | number:2"></td>
            <td class="text-center active">اسبوع</td>
          </tr>
          <tr>
            <td class="text-center danger"
                ng-bind="(vm.calculateByVolume('new', vm.volume) - vm.calculateByVolume('old', vm.volume)) * 30 | number:2">
            </td>
            <td class="text-center warning" ng-bind="vm.calculateByVolume('old', vm.volume) * 30 | number:2"></td>
            <td class="text-center success" ng-bind="vm.calculateByVolume('new', vm.volume) * 30 | number:2"></td>
            <td class="text-center active">شهر</td>
          </tr>
          <tr>
            <td class="text-center danger"
                ng-bind="(vm.calculateByVolume('new', vm.volume) - vm.calculateByVolume('old', vm.volume)) * 360 | number:2">
            </td>
            <td class="text-center warning" ng-bind="vm.calculateByVolume('old', vm.volume) * 360 | number:2"></td>
            <td class="text-center success" ng-bind="vm.calculateByVolume('new', vm.volume) * 360 | number:2"></td>
            <td class="text-center active">سنة</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</section>
